@keyframes blink {
  from {background-color: blue;}
  to {background-color: red;}
}

html {
  background-color: #0000FF;
  cursor: url(../img/cursor.png), default;
  -webkit-animation: blink 0.1s infinite;
}


h1 {
  font-family: sans-serif;
  font-size: 64px;
  color: #000000;
  line-height: 62px;
  letter-spacing: -2px;
  text-transform: uppercase;
}

/* LAYOUT */

#header {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

#header a {
  background: #fff;
  padding: 20px 40px;
  margin: 10px;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  box-shadow: -8px 8px 0px black;
}

.logo {
  width: 393px;
}

.clark-spinner {
  margin: 0 auto;
  width: 90px;
  height: 120px;
  display: block;
  transition: all 0.3s ease-in-out 0s;
  display: none;
}

.clark-spinner: hover {
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}
